* {
  border: 1px solid pink;
}

.App {
  text-align: center;
}

.gitCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2% auto;
  width: 60%;
}

img {
  width: 40%;
}

h2 {
  font-size: 1rem;
}

.infoDiv {
  width: 40%;
  flex-flow: column;
  margin: 0 auto;
}

a {
  width: 100%;
}

.imgDiv {
  display: flex;
}